{% extends "base.html" %}

{% block title %}Запрос нового пароля{% endblock %}

{% block content %}
    <div class="body-login">
        <div class="form-container">
            <div class="form-content">
                <form method="post" class="form" id="password-form">
                    <label for="password">Новый пароль</label>
                    <input class="field" type="password" id="password" name="password">
                    <label for="confirm">Подтверждение пароля</label>
                    <input class="field" type="password" id="confirm" name="confirm">
                    <div class="tooltip-container">
                        <div class="clue">
                            <img src="{{ url_for('static', filename='icons/question_icon.svg') }}" alt="Подсказка">
                        </div>
                        <div class="tooltip-text">В пароле должны содержаться как минимум одна цифра, прописная и заглавная буквы.<br>Минимальная длина пароля - 8 символов.<br>Допустимые нестандартные символы: -_.,@!$%#</div>
                    </div>
                    <div class="buttons-container">
                        <button type="submit">Отправить</button>
                    </div>
                </form>
                <div id="message"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="module">
        import {setMessage} from "../../static/js/message.js";

        document.addEventListener('DOMContentLoaded', () => {
            const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            const form = document.getElementById('password-form')
            form.addEventListener('submit', async function (e) {
                e.preventDefault()
                const password = document.getElementById('password').value
                const confirm = document.getElementById('confirm').value
                console.log(password === confirm)
                console.log(confirm)
                if (!password) {
                    setMessage('Введите пароль', true)
                }
                if (!confirm) {
                    setMessage('Введите пароль второй раз', true)
                }
                if (confirm !== password) {
                    setMessage('Пароли не совпадают', true)
                }
                const response = await fetch("{{ url_for('reset_password.reset_password', token=token) }}", {
                    method: "POST",
                    headers: {"Content-Type": "application/json", 'X-CSRFToken': csrfToken},
                    body: JSON.stringify({'password': password, 'confirm': confirm})
                })
                if (!!response.status && response.status === 200) {
                    window.location.href = "{{ url_for('index.index') }}"

                } else if (!!response.status && response.status === 400) {
                    const data = await response.json()
                    setMessage(data.error, true)

                } else if (!!response.status && response.status === 500) {
                    setMessage('Сервер не отвечает', true)
                }
            })
        })
    </script>
{% endblock %}